.object-fit-cover {
  object-fit: cover;
}

html,
body {
  height: 100%;
  background: radial-gradient(ellipse at center, #0f0f1f, #0b0b1a);
}


/* File Css */
.file-cursor {
  cursor: pointer;
}

.spanText {
  font-size: 12px;
}

.shadow-gray {
  filter: drop-shadow(0 0 20px #a46bf5);
  box-shadow: 0 10px 20px rgba(128, 128, 128, 0.4);
  /* gray tone */
}


@media only screen and (max-width:350px) {
  .main-title .cover-word {
    font-size: 1.5rem;
  }

  .main-title p {
    font-size: 1.5rem;
  }

  .title-word {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width:475px) {
  .main-title .cover-word {
    font-size: 1.5rem;
  }

  .main-title p {
    font-size: 1.5rem;
  }

  .title-word {
    font-size: 1.5rem;
  }
}